<div class="flexbox margin-top margin-bottom">
  <button
    mat-raised-button
    color="primary"
    class="margin-right"
    (click)="init()"
  >
    APPLY
  </button>
  <button mat-raised-button color="primary" (click)="toggleVisibility()">
    {{ settingsVisible ? "HIDE" : "SHOW" }}
  </button>
</div>
<div class="flexbox margin-top" *ngIf="settingsVisible">
  <mat-form-field appearance="fill" class="margin-right">
    <mat-label>Particle amount</mat-label>
    <input matInput [(ngModel)]="amount" type="number" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="margin-right">
    <mat-label>Health</mat-label>
    <input matInput [(ngModel)]="health" type="number" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="margin-right">
    <mat-label>Speed min/max</mat-label>
    <input matInput [(ngModel)]="speed" type="number" min="0" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="margin-right">
    <mat-label>Dampening</mat-label>
    <input matInput [(ngModel)]="dampening" type="number" min="0" />
  </mat-form-field>

  <div class="flexbox checkbox-container">
    <mat-checkbox [(ngModel)]="collisions" (ngModelChange)="collisionChanged()">
      Enable collisions
    </mat-checkbox>

    <div class="break"></div>

    <mat-checkbox
      [(ngModel)]="boundrySet"
      (ngModelChange)="boundrySetChanged()"
    >
      Boundry set
    </mat-checkbox>
  </div>
</div>

<div class="frame" #frame></div>
