<mat-dialog-content>
  <div class="margin-top">
    <div class="flexbox">
      <div class="wide">Angles</div>
      <div class="wide">Constraints</div>
      <div class="wide">Weights</div>
    </div>
    <div
      class="flexbox margin-top"
      *ngFor="let _ of [].constructor(this.constraintsCount); let i = index"
    >
      <mat-form-field appearance="fill" class="margin-right">
        <mat-label>Angle</mat-label>
        <input matInput type="number" [(ngModel)]="angles[i]" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="margin-right">
        <mat-label>Constraint</mat-label>
        <input matInput type="number" [(ngModel)]="constraints[i]" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="margin-right">
        <mat-label>Weight</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="weights[i]"
          min="0"
          max="1"
        />
      </mat-form-field>
    </div>
    <div class="flexbox">
      <button
        mat-raised-button
        color="primary"
        class="margin-right"
        (click)="apply()"
      >
        APPLY
      </button>
    </div>
  </div>
</mat-dialog-content>
